* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    }

body {
    background-color: white;
}
.weather {
    text-align: center;
    font-size: 300%;
    padding: 30px;
    background-image: linear-gradient(to right, blue, rgb(39, 2, 39));
    margin-bottom: 20px;
    color: white
    }

#city {
    background-color:gray;
    font: black;
    border: 2px solid black;
    radius: 2%;
    margin: 12px;
    padding: 10px;
    border-radius: 5%;
    font-size: 100%;
}
.grid {
    display: flex;
    display: inline-flexbox;
    justify-content: space-evenly;
}

#city-search {
    font-size: 150%;
    width: 100%;
    background-color: #4c94e4;
    border-radius: 5%;
    border: none;
    color: white;
    margin-top: 15px;
    height: 40px;
}

#search {
    font-size: 20px;
    width: 200px;
    height: 50px;
    margin-left: 3%;
    box-shadow: 1px 1px 2px darkgrey;
}

.container-xxl{
    background-color: gray;
    border: 2px solid black;
    margin: 12px;
    padding: 10px;
    border-radius: 5%;
    font-size: 100%;
}

.mainbody{
    display: flex;
}

.leftSection {
  width: 25%;
  padding-left: 10px;
}

.leftHeader {
  font-weight: bold;
}

.weatherInfo {
  padding-top: 10px;
}

.rightSection {
    padding-left: 40px;
    width: 75%;
}

.weatherboard {
  border-style: solid;
  padding-left: 10px;
  padding-bottom: 15px;
}

.cityInfo {
    font-weight:bold;
    font-size: 40px;
}

.card {
    background-color: rgb(99, 109, 124);
    color: white;
}
.list-group-item {
    background-color: rgb(99, 109, 124);
    color:white;
}
.container {
    display: flex;
    flex-direction: inline-block;
    justify-content: space-evenly;
    margin-right: 0%;
}

.forecastsection {
    padding-top: 10px;

}

.forecastHeader {
  font-weight: bold;
  font-size: 35px;
}

.forecastCards {
    display: flex;
    flex-direction: inline-block;
    justify-content: space-evenly;
    margin-right: 0%;   
}

.searchBox {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding-left: 15px;
}