* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    }

body {
    background-color: white;
}
.weather {
    text-align: center;
    font-size: 300%;
    padding: 30px;
    background-image: linear-gradient(to right, blue, rgb(39, 2, 39));
    margin-bottom: 20px;
    color: white
    }

#city {
    background-color:gray;
    text: black
    border: 2px solid black;
    radius: 2%;
    margin: 12px;
    padding: 10px;
    border-radius: 5%;
    font-size: 100%;
}
.grid {
    display: flex;
    display: inline-flexbox;
    justify-content: space-evenly;
}

#city-search {
    font-size: 150%;
    width: 15%;
    background-color: lightblue;
    border-radius: 5%;
}

#search {
    font-size: 20px;
    width: 200px;
    height: 50px;
    margin-left: 3%;
    box-shadow: 1px 1px 2px darkgrey;
}

.container-xxl{
    background-color: gray;
    border: 2px solid black;
    margin: 12px;
    padding: 10px;
    border-radius: 5%;
    font-size: 100%;
}

.mainbody{
    display: flex;
}

.leftSection {
  width: 30%;
}

.leftHeader {
  font-weight: bold;
}

.weatherInfo {
  padding-top: 10px;
}

.rightSection {
    padding-left: 40px;
    width: 70%;
}

.weatherboard {
  border-style: solid;
  padding-left: 10px;
}

.cityInfo {
    font-weight:bold;
    font-size: 40px;
}